* {
    margin: 0;
    padding: 0;
}

#cuerpo {
    background-color: yellow;
    width: 90%;
    min-width: 400px;
}



#encabezado {
    background-color: rgb(0, 208, 255);
    border: solid black 1px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#pie {
    background-color: pink;
    border: solid black 1px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}



#contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#calculos {
    margin: 30px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calculos div {
    margin: 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#calculos input {
    width: 130px;
}

#calculos button {
    width: 80px;
    margin: 5px 0px;
}



#registros {
    margin: 30px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sumaRegistros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sumaRegistros p {
    margin: 0px 20px
}